@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

body {
	scroll-behavior: smooth;
}

.prose pre {
	overflow-x: scroll;
	padding: 1rem;
	background: #223;
	border-radius: 8px;
}
.prose > * {
	margin: 1rem 0;
}

.prose h1 {
	font-size: 2rem;
}

.prose ol,
ul {
	padding-left: 2rem;
}
.prose ul > *,
.prose ol > * {
	margin: 10px 0;
}

.prose p {
	font-size: 1.2rem;
}
.prose pre {
	color: white;
}
